.team_container {
  width: 60%;
  margin: 20px auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.title_team {
  text-align: center;
  margin-top: 20px;
}

.card_team {
  width: calc(100% / 3 - 10px);
  margin: 5px 5px;
}
